# Dépendances
node_modules/
.npm

# Build
dist/
dist-ssr/

# Capacitor
android/
ios/
.capacitor/

# Environnement
.env
.env.local
.env.*.local

# Éditeurs
.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
